<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Koodiklinikan MM2024 Pistepörssiskaba</title>

    <style>
      main p {
        max-width: 80ch;
      }
      body {
        padding: 1em;
      }
      table {
        max-width: 800px;
        width: 90%;
      }

      thead {
        font-weight: 900;
      }

      tbody tr:nth-child(2n + 1) {
        background: #e5e5e5;
      }

      td {
        padding: 0.5em 0.25em;
      }

      footer {
        padding: 1em;
        background: antiquewhite;
        margin-top: 3em;
        max-width: 800px;
        width: 100%;
      }

      @media screen and (max-width: 600px) {
        td {
          padding: 0;
        }

        table {
          width: 100%;
        }
      }

      @media screen and (prefers-color-scheme: dark) {
        tbody tr:nth-child(2n + 1) {
          background: #3d3a3a;
        }

        footer {
          background: #3a352e;
        }
      }
    </style>

    <meta name="color-scheme" content="light dark" />
  </head>
  <body>
    <main>
      <h1>Koodiklinikan MM2024 Pistepörssiskaba</h1>
      <p>
        Jääkiekon MM-kisoihin kultakin osallistuvalta
        <a href="https://koodiklinikka.fi">Koodiklinikan</a> skabaajalta
        pyydettiin pistepörssivoittoveikkaukset sekä Leijonista (🇫🇮) että
        kaikista pelaajista (🌍) sekä näiden veikatut pistemäärät.
      </p>

      <p>
        Tämä sivusto seuraa veikattujen pelaajien edesottamuksia. Sivusto
        päivittyy noin suurin piirtein pelien päätyttyä ellei webmaster ole
        katsomassa peliä pubissa.
      </p>

      <h2>Leijonapörssi</h2>
      <h3>Pistepörssin kärki</h3>

      <table>
        <thead>
          <tr>
            <td>Pelaaja</td>
            <td>Maalit</td>
            <td>Syötöt</td>
            <td>Pisteet</td>
          </tr>
        </thead>
        <tbody>
          {% for player in finn_leaders %}
          <tr>
            <td>{{ player.name }}</td>
            <td>{{ player.goals }}</td>
            <td>{{ player.assists }}</td>
            <td>{{ player.points }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <h3>Veikkaukset</h3>
      <table>
        <thead>
          <tr>
            <td>Osallistuja</td>
            <td>Pelaaja (veikatut pisteet)</td>
            <td>Maalit</td>
            <td>Syötöt</td>
            <td>Pisteet</td>
          </tr>
        </thead>
        <tbody>
          {% for row in scores %} {% if row.flag == '🇫🇮' %}
          <tr>
            <td>{{ row.participant }}</td>
            <td>{{ row.player.name }} ({{ row.player.bet_points }})</td>
            <td>{{ row.player.goals }}</td>
            <td>{{ row.player.assists }}</td>
            <td>{{ row.player.points }}</td>
          </tr>
          {% endif %} {% endfor %}
        </tbody>
      </table>

      <h2>Koko kisojen pörssi</h2>

      <h3>Pistepörssin kärki</h3>

      <table>
        <thead>
          <tr>
            <td>Pelaaja</td>
            <td>Maalit</td>
            <td>Syötöt</td>
            <td>Pisteet</td>
          </tr>
        </thead>
        <tbody>
          {% for player in leaders %}
          <tr>
            <td>{{ player.name }}</td>
            <td>{{ player.goals }}</td>
            <td>{{ player.assists }}</td>
            <td>{{ player.points }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <h3>Veikkaukset</h3>
      <table>
        <thead>
          <tr>
            <td>Osallistuja</td>
            <td>Pelaaja (veikatut pisteet)</td>
            <td>Maalit</td>
            <td>Syötöt</td>
            <td>Pisteet</td>
          </tr>
        </thead>
        <tbody>
          {% for row in scores %} {% if row.flag == '🌎' %}
          <tr>
            <td>{{ row.participant }}</td>
            <td>{{ row.player.name }} ({{ row.player.bet_points }})</td>
            <td>{{ row.player.goals }}</td>
            <td>{{ row.player.assists }}</td>
            <td>{{ row.player.points }}</td>
          </tr>
          {% endif %} {% endfor %}
        </tbody>
      </table>
    </main>
    <footer>
      &hearts;, <a href="https://hamatti.org">Juhis</a>. Built with
      <a href="https://11ty.dev">Eleventy</a>. Licensed with
      <a href="https://opensource.org/license/mit">MIT License</a> with code
      available in
      <a href="https://github.com/hamatti/iihf-scoring-leader">GitHub</a>.
    </footer>
  </body>
</html>
